<div class="page-title">
  <h1><%= profile_pic(@user) %> <%= @user.username  %></h1>
</div>
<hr />

<div id="user-article-title">
  <h4><%= @user.username %>'s articles</h4>
</div>
<hr />

<%= render 'articles/article', obj: @user.articles %>