
<div class="jumbotron center">
   <%= image_tag 'petStoryTitle.png' %>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg btn-xlarge btn-signup" %>
  <%= link_to "Log in", login_path, class: "btn btn-primary btn-lg btn-login" %>
  </div>

 