
<div class="jumbotron center">
   <%= image_tag 'petStoryTitle.png' %>
  <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg btn-xlarge btn-signup" %>
  <%= link_to "Log in", "#", class: "btn btn-primary btn-lg btn-login" %>
  </div>

 