<div class="page-title">
  <h1>Categories</h1>
</div>
<hr />

<div align="center">
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>

 <ul class="listing">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="well col-md-5 col-md-offset-1">
        <li class="article-title">
          <%= link_to "#{category.name}", category_path(category) %>
        </li>
        <li><small><%= pluralize(category.articles.count, "article") %></small></li>
      </div>
    <% end %>
  </div>
</ul>

    
<div align="center">
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
