<div class="page-title">
  <h1><%= "#{@category.name}" %> Category</h1>
</div>
<hr />

<div align="center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'articles/article', obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
